$white: #fff;
$brown: #f0ece3;
$brown-dark: #e3ded1;
$grey-light: #ced0c8;
$grey: #829192;
$black: #111111;
$green-black: #0f2e2f;

$padding-step: 8px;
$padding-min: 16px;
$padding-v-min: 24px;
$padding-mid: 32px;
$padding-mobile: 40px;
$padding-tablet: 64px;
$padding-desktop: 80px;
$padding-large: 75px;
$padding-extra: 90px;

$bp-mobile: 360px;
$bp-tablet: 900px;
$bp-desktop: 1440px;
$bp-full: 1920px;

@mixin font18 {
    font-family: "ABC Diatype Regular", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.028em;
}

@mixin font28 {
    @include font18;

    font-size: 28px;
    line-height: 34px;
}

@mixin font40 {
    @include font18;

    font-size: 40px;
    line-height: 40px;
}

@mixin font64 {
    @include font18;

    font-size: 64px;
    line-height: 64px;
}

@mixin font28-40 {
    @include font28;

    @media (min-width: $bp-desktop) {
        @include font40;
    }
}

@mixin font40-64 {
    @include font40;

    @media (min-width: $bp-desktop) {
        @include font64;
    }
}

@mixin outline-horizontal-padding {
    right: -$padding-min;
    left: -$padding-min;

    @media (min-width: $bp-tablet) {
        right: -$padding-mobile;
        left: -$padding-mobile;
    }

    @media (min-width: $bp-desktop) {
        right: -$padding-tablet;
        left: -$padding-tablet;
    }

    @media (min-width: $bp-full) {
        right: -$padding-desktop;
        left: -$padding-desktop;
    }
}

@mixin screen-padding {
    bottom: $padding-v-min;
    right: $padding-min;
    left: $padding-min;

    @media (min-width: $bp-tablet) {
        right: $padding-mobile;
        left: $padding-mobile;
        bottom: $padding-mobile;
    }

    @media (min-width: $bp-desktop) {
        right: $padding-tablet;
        left: $padding-tablet;
        bottom: $padding-desktop;
    }

    @media (min-width: $bp-full) {
        right: $padding-desktop;
        left: $padding-desktop;
    }
}

@mixin main-padding {
    left: $padding-min;
    top: $padding-min;

    @media (min-width: $bp-tablet) {
        left: $padding-mid;
        top: $padding-mid;
    }

    @media (min-width: $bp-desktop) {
        top: $padding-mid;
        left: $padding-large;
    }

    @media (min-width: $bp-full) {
        top: $padding-mid;
        left: $padding-extra;
    }
}

@mixin page-padding {
    padding: $padding-min;

    @media (min-width: $bp-tablet) {
        padding: $padding-mid $padding-mobile;
    }

    @media (min-width: $bp-desktop) {
        padding: $padding-mid $padding-tablet;
    }

    @media (min-width: $bp-full) {
        padding: $padding-mid $padding-desktop;
    }
}
