@font-face {
  font-family: "ABC Diatype";
  src: url("@/assets/font.woff2") format("woff2");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "ABC Diatype", sans-serif;
  overscroll-behavior: none;
}
